body {
	background: black;
	color: white;
	font-family: sans-serif;
	font-size: 2em;
}
.box-container {
	/* Has 1:1 aspect ratio */
	width: 100%;
	padding-top: 100%;
	position: relative;
}
.box-container.golden-ratio {
	padding-top: 61.803%;
}
.box-container.golden-ratio.vertical {
	padding-top: 161.803%;
}
.box-container > * {
	/* Fills the space of the parent .box-container */
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.button, .paper-button-0 {
	color: #33a;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}
.content {
	background: white;
	color: black;
}
.content.flexbox {
	align-items: stretch;
	display: flex;
	flex-wrap: wrap;
	height: auto;
	justify-content: space-around;
}
.content.flexbox > * {
	flex: 1;
}
.footer {
	font-size: 0.25em;
	text-align: right;
}
.heading {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
}
.heading > .motto {
	font-style: italic;
}
.heading > .name {
	font-size: 2em;
}
.img {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
.img.cheap {
	background-image: url('../img/cheap.png');
}
.img.fast {
	background-image: url('../img/fast.jpg');
}
.img.good {
	background-image: url('../img/good.jpg');
}
.img.top {
	background-image: url('../img/stars.jpg');
}
.middle {
	align-items: center;
	display: flex;
	justify-content: center;
}
.paper-button-0 {
	background: white;
}
paper-card {
	/* margin: 1em auto; */
	width: 20em;
}