#button, .button, html a:not(.plain), html button, html input[type="button"], html input[type="submit"], html > body > #middle .section, html > body > #middle .section .title, html input[type=text], html textarea {
  border-radius: 0.2rem; }

#button, .button, html a:not(.plain), html button, html input[type="button"], html input[type="submit"], html > body > #middle .section {
  margin: 0.5em; }

#button, .button, html a:not(.plain), html button, html input[type="button"], html input[type="submit"], html > body > #middle .section .title, html > body > #middle .section > .content, html > body > #middle #contact-us #message, html > body > #middle #contact-us #name, html > body > #middle #contact-us #email, html > body > #footer {
  padding: 0.5em; }

#button, .button, html a:not(.plain), html button, html input[type="button"], html input[type="submit"] {
  border-width: 0px;
  display: inline-block; }

#button, .button, html a:not(.plain), html button, html input[type="button"], html input[type="submit"] {
  cursor: default;
  user-select: none; }

#button, .button, html a:not(.plain), html button, html input[type="button"], html input[type="submit"], html > body > #top, html > body > #middle .section {
  box-shadow: 0em 0.05em 0.2em rgba(0, 0, 0, 0.75); }

#button, .button, html a:not(.plain), html button, html input[type="button"], html input[type="submit"], html > body > #middle .section {
  margin: 0.5em; }

#button, .button, html a:not(.plain), html button, html input[type="button"], html input[type="submit"], html > body > #middle .section .title, html > body > #middle .section > .content, html > body > #middle #contact-us #message, html > body > #middle #contact-us #name, html > body > #middle #contact-us #email, html > body > #footer {
  padding: 0.5em; }

a.button, html a:not(.plain) {
  cursor: pointer; }

#button, .button, html a:not(.plain), html button, html input[type="button"], html input[type="submit"] {
  background-color: white;
  color: black;
  font-size: inherit;
  font-weight: bold;
  min-width: 10ch;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.1s, box-shadow 0.2s; }
  #button:active, .button:active, html a:active:not(.plain), html button:active, html input[type="button"]:active, html input[type="submit"]:active {
    background-color: #fafafa;
    box-shadow: 0em 0.2em 1em rgba(0, 0, 0, 0.5); }
  #button.wide, .wide.button, html a.wide:not(.plain), html button.wide, html input.wide[type="button"], html input.wide[type="submit"] {
    display: block;
    margin-left: 0;
    margin-right: 0;
    width: 100%; }

html > body > #top, html > body > #middle .row {
  align-items: center;
  display: flex;
  justify-content: center; }

html > body > #top {
  flex-direction: column; }

#button, .button, html a:not(.plain), html button, html input[type="button"], html input[type="submit"], html > body > #middle .section, html > body > #middle .section .title, html input[type=text], html textarea {
  border-radius: 0.2rem; }

#button, .button, html a:not(.plain), html button, html input[type="button"], html input[type="submit"], html > body > #middle .section {
  margin: 0.5em; }

#button, .button, html a:not(.plain), html button, html input[type="button"], html input[type="submit"], html > body > #middle .section .title, html > body > #middle .section > .content, html > body > #middle #contact-us #message, html > body > #middle #contact-us #name, html > body > #middle #contact-us #email, html > body > #footer {
  padding: 0.5em; }

html {
  font-family: sans-serif; }
  html > body {
    padding: 0;
    margin: 0; }
    html > body > #top {
      background-image: url("../img/stars.jpg");
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: #011d43;
      color: white;
      height: 100vh;
      position: relative; }
      html > body > #top > #title {
        font-size: 6vw; }
      html > body > #top > #motto {
        font-size: 3vw;
        font-style: italic; }
      html > body > #top > #down-arrow {
        bottom: 0;
        color: white;
        display: block;
        font-size: 5em;
        position: fixed; }
    html > body > #middle {
      margin-left: auto;
      margin-right: auto;
      max-width: 120ch; }
      html > body > #middle .row {
        align-items: stretch;
        justify-content: space-around; }
        html > body > #middle .row > .column {
          flex: 1; }
      html > body > #middle .section {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0; }
        html > body > #middle .section .title {
          background-color: #011d43;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          color: white;
          display: block;
          font-size: 2em;
          text-align: center; }
        html > body > #middle .section > .content {
          background-color: white; }
      html > body > #middle #investigative-services {
        margin-right: 0.25em; }
      html > body > #middle #background-and-experience {
        margin-left: 0.25em; }
      html > body > #middle #contact-us {
        margin-top: 0; }
        html > body > #middle #contact-us #message, html > body > #middle #contact-us #name, html > body > #middle #contact-us #email {
          box-sizing: border-box;
          width: 100%; }
        html > body > #middle #contact-us #message {
          height: 10em;
          vertical-align: top; }
        html > body > #middle #contact-us #send-email {
          float: right; }
        html > body > #middle #contact-us table {
          width: 100%; }
          html > body > #middle #contact-us table td:nth-child(2) {
            width: 100%; }
          html > body > #middle #contact-us table td:not(:nth-child(2)) {
            width: auto; }
    html > body > #footer {
      background-color: black;
      color: white;
      font-size: 0.5em;
      text-align: right; }
  html a {
    color: #2A60A4;
    text-decoration: none; }
  html input[type=text], html textarea {
    border: thin solid rgba(0, 0, 0, 0.5); }

/*# sourceMappingURL=style.css.map */
