*:focus {
    outline-color: hsl(240, 100%, 30%);
}

.background {
    &.black {
        background: black;
        color: white;
    }
    &.darker-blue {
        background: #0249A8;
        color: white;
    }
    &.darker-purple {
        background: #3D2025;
        color: black;
    }
    &.lighter-blue {
        background: #2A60A4;
        color: black;
    }
    &.lighter-purple {
        background: #674056;
        color: black;
    }
    &.tan {
        background: #E0A665;
        color: black;
    }
    &.white {
        background: white;
        color: black;
    }
}

html {
    background: black;
    color: white;
    font-family: sans-serif;
    font-size: 1em;
}

.box-container {
    /* Has 1:1 aspect ratio */
    width: 100%;
    padding-top: 100%;
    position: relative;
    
    &.golden-ratio {
        padding-top: 61.803%;
    
        &.vertical {
            padding-top: 161.803%;
        }
    }
    
    > * {
        /* Fills the space of the parent .box-container */
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}

a.button {
    cursor: pointer;
}
.button {
    background-color: white;
    border-radius: 0.1em;
    border-width: 0px;
    box-shadow: 0em 0.05em 0.2em hsla(0, 0%, 0%, 0.5);
    color: black;
    cursor: default;
    display: inline-block;
    font-size: inherit;
    font-weight: bold;
    padding: 0.5em;
    margin: 0.5em;
    min-width: 10ch;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.1s, box-shadow 0.2s;
    user-select: none;

    &:active {
        background-color: hsl(0, 0%, 98%);
        box-shadow: 0em 0.2em 1em hsla(0, 0%, 0%, 0.5);
    }
}

.center {
    text-align: center;
}

.flexbox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;

    & > * {
        flex: 1;
    }
}

.footer {
    font-size: 0.25em;
    text-align: right;
}

.heading {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 3vw;
    height: 100vh;
    justify-content: center;
    text-align: center;
    
    & > .motto {
        font-style: italic;
    }

    & > .name {
        font-size: 2em;
    }
}

.img {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;

    &.cheap {
        background-image: url('../img/cheap.png');
    }

    &.fast {
        background-image: url('../img/fast.jpg');
    }

    &.good {
        background-image: url('../img/good.jpg');
    }

    &.top {
        background-image: url('../img/stars.jpg');
    }
}

.middle {
    align-items: center;
    display: flex;
    justify-content: center;
}

span {
    &.important {
        color: red;
    }
}

table {
    border-collapse: collapse;
}

textarea {
    box-sizing: border-box;
    height: 10em;
}

.title {
    font-size: 2em;
}

.wide {
    width: 100%;
}