html {
    font-size: 1.3vw;

    > body {
        > #top {
            > #down-arrow-container {
                display: none;
            }
        }
        > #middle {
            margin-top: -8vw;
        }
    }
}