@import 'flat';
@import 'no-click';
@import 'shadow';
@import 'spacing';

a.button {
    cursor: pointer;
}
#button {
    @extend %flat;
    @extend %margin;
    @extend %no-click;
    @extend %shadow;

    background-color: white;
    color: black;
    font-size: inherit;
    font-weight: bold;
    min-width: 10ch;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.1s, box-shadow 0.2s;

    &:active {
        background-color: darken(white, 2%);
        box-shadow: 0em 0.2em 1em rgba(black, 0.5);
    }

    &:disabled {
        background-color: darken(white, 10%);
        color: lighten(black, 50%);
    }

    &.wide {
        display: block;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
}
.button {
    @extend #button;
}