$darker-blue: #0249A8;
$darkest-blue: darken($darker-blue, 20%);
$lighter-blue: #2A60A4;

$title-background: white;
$title-foreground: black;
$primary-accent: lighten(black, 20%);
$primary-link: $darker-blue;