$darker-blue: #0249A8;
$darker-purple: #3D2025;
$darkest-blue: darken($darker-blue, 20%);
$lighter-blue: #2A60A4;
$lighter-purple: #674056;
$tan: #E0A665;

$colors:
    $darker-blue,
    $darker-purple,
    $lighter-purple,
    $lighter-blue,
    $tan;