@import 'button';
@import 'colors';
@import 'images';
@import 'positioning';
@import 'round';
@import 'spacing';

html {
    font-family: sans-serif;

    > body {
        padding: 0;
        margin: 0;

        > #top {
            @include background-image($img-stars);
            @extend %flex-down;
            @extend %shadow;

            background-color: $darkest-blue;
            color: white;
            height: 100vh;

            > #title {
                font-size: 6vw;
            }

            > #motto {
                font-size: 3vw;
                font-style: italic;
            }
        }

        > #middle {
            margin-left: auto;
            margin-right: auto;
            max-width: 120ch;

            .row {
                @extend %flex;

                align-items: stretch;
                justify-content: space-around;

                > .column {
                    flex: 1;
                }
            }

            .section {
                @extend %margin;
                @extend %round;
                @extend %shadow;

                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;

                .title {
                    @extend %padding;
                    @extend %round;

                    background-color: $darkest-blue;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                    color: white;
                    display: block;
                    font-size: 2em;
                    text-align: center;
                }

                > .content {
                    @extend %padding;

                    background-color: white;
                }
            }

            #investigative-services {
                margin-right: $margin / 2;
            }

            #background-and-experience {
                margin-left: $margin / 2;
            }

            #contact-us {
                margin-top: 0;

                %common {
                    @extend %padding;

                    box-sizing: border-box;
                    width: 100%;
                }

                #message {
                    @extend %common;

                    height: 10em;
                    vertical-align: top;
                }

                #name {
                    @extend %common;
                }

                #email {
                    @extend %common;
                }

                #send-email {
                    float: right;
                }

                table {
                    width: 100%;

                    td:nth-child(2) {
                        width: 100%;
                    }
                    td:not(:nth-child(2)) {
                        width: auto;
                    }
                }
            }
        }

        > #footer {
            @extend %padding;

            background-color: black;
            color: white;
            font-size: 0.5em;
            text-align: right;
        }
    }

    a {
        @extend .button;

        color: $lighter-blue;
    }

    button, input[type="button"], input[type="submit"] {
        @extend #button;
    }

    input[type=text], textarea {
        @extend %round;

        border: thin solid rgba(black, 0.5);
    }
}