@import 'button';
@import 'colors';
@import 'images';
@import 'positioning';
@import 'round';
@import 'spacing';

.parallax {
    &.container {
        height: 100vh;
        overflow-y: auto;
        perspective: 1px;
    }

    &.item {
        font-size: 2em;
        position: absolute;
        transform: translateZ(-1px);
    }
}

html {
    font-family: sans-serif;
    overflow-y: hidden; /* https://stackoverflow.com/a/27588163/3063273 */

    body {
        overflow-y: auto;
        padding: 0;
        margin: 0;

        #top {
            @include background-image($img-stars);
            @extend %flex-down;

            background-color: $title-background;
            color: $title-foreground;
            height: 100vh;
            position: relative;

            #title-and-motto-container {
                @extend %flex-down;

                background-color: rgba($title-background, 0.6);
                padding: 1em 0;
                text-align: center;
                width: 100%;

                #title {
                    font-size: 2.5em;
                    font-weight: 900;
                }
    
                #motto {
                    font-size: 2em;
                    font-style: italic;
                    margin-top: 0.5em;
                }
            }
            
            #down-arrow-container {
                height: 100%;
                position: absolute;
                width: 100%;

                .spacer {
                    height: 100%;
                }

                #down-arrow {
                    @extend %flex;

                    bottom: 0;
                    color: $primary-accent;
                    font-size: 5em;
                    margin-top: -1em;
                    position: absolute;
                    position: sticky;
                }
            }
        }

        #middle {
            margin-left: auto;
            margin-right: auto;
            max-width: 120ch;
            position: relative;

            .row {
                @extend %flex;

                align-items: stretch;
                justify-content: space-around;

                .column {
                    flex: 1;
                }
            }

            .section {
                @extend %margin;
                @extend %round;
                @extend %shadow;

                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;

                .title {
                    @extend %padding;
                    @extend %round;

                    background-color: $primary-accent;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                    color: white;
                    display: block;
                    font-size: 2em;
                    text-align: center;
                }

                .content {
                    @extend %padding;

                    background-color: white;
                }
            }

            #investigative-services {
                margin-right: $margin / 2;
            }

            #background-and-experience {
                margin-left: $margin / 2;
            }

            #contact-us {
                margin-top: 0;

                %common {
                    @extend %padding;

                    box-sizing: border-box;
                    width: 100%;
                }

                #message {
                    @extend %common;

                    height: 10em;
                    vertical-align: top;
                }

                #name {
                    @extend %common;
                }

                #email {
                    @extend %common;
                }

                .grecaptcha-badge {
                    display: none;
                }

                table {
                    width: 100%;

                    td:nth-child(2) {
                        width: 100%;
                    }
                    td:not(:nth-child(2)) {
                        width: auto;
                    }
                }

                .error {
                    background-color: $error-background;
                    border-color: $error-foreground;
                    border-radius: 1em;
                    border-style: solid;
                    border-width: 0.15em;
                    color: $error-foreground;
                    padding: 0.75em;
                }

                #send-email {
                    margin-left: auto;
                    margin-right: 0;

                    .wording {
                        display: none;
                    }

                    #wording-send-email {
                        display: initial;
                    }
                }
            }
        }

        #footer {
            @extend %padding;

            font-size: 0.5em;
            text-align: right;
        }
    }

    a {
        color: $primary-link;
        text-decoration: none;
    }
    a:not(.plain) {
        @extend a;
        @extend .button;
    }

    button, input[type="button"], input[type="submit"] {
        @extend #button;
    }

    input[type=text], textarea {
        @extend %round;

        border: thin solid rgba(black, 0.5);
    }
}