@import 'button';
@import 'colors';
@import 'images';
@import 'positioning';
@import 'spacing';

html {
    font-family: sans-serif;

    a {
        $color: $lighter-blue;

        color: $color;

        &:visited {
            color: $color;
        }
    }

    > body {
        padding: 0;
        margin: 0;

        > #top {
            $background-color: $darkest-blue;
            $text-color: white;

            @extend #flex-down;
            @include background-image($img-stars);
            background-color: $background-color;
            color: $text-color;
            height: 100vh;

            > #title {
                font-size: 6vw;
            }

            > #motto {
                font-size: 3vw;
                font-style: italic;
            }

            > #button {
                @extend #button;
            }
        }

        > #middle {
            .row {
                @extend #flex;

                align-items: stretch;
                justify-content: space-around;

                > .column {
                    flex: 1;
                }
            }

            .section {
                @extend %margin;
                @extend %shadow;

                .title {
                    @extend %flat;

                    background-color: $darkest-blue;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                    color: white;
                    display: block;
                    font-size: 2em;
                    text-align: center;
                }

                > .content {
                    @extend %padding;
                }
            }

            #investigative-services {
                margin-right: $margin / 2;
            }

            #background-and-experience {
                margin-left: $margin / 2;
            }

            #contact-us {
                margin-top: 0;

                %common {
                    @extend %padding;

                    box-sizing: border-box;
                    width: 100%;
                }

                #message {
                    @extend %common;

                    height: 10em;
                    vertical-align: top;
                }

                #name {
                    @extend %common;
                }

                #email {
                    @extend %common;
                }

                #send-email {
                }

                table {
                    width: 100%;

                    td:nth-child(2) {
                        width: 100%;
                    }
                    td:not(:nth-child(2)) {
                        width: auto;
                    }
                }
            }
        }

        > #footer {
            @extend %padding;

            background-color: black;
            color: white;
            font-size: 0.5em;
            text-align: right;
        }
    }

    button, input[type="button"], input[type="submit"] {
        @extend #button;
    }
}

.snippet {
    @extend %margin;
    @extend %padding;
    @extend %shadow;

    display: inline-block;
}